header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #000000;
  color: white;
}
.back-button {
  background-color: #303030;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
}
button {
  background-color: #303030;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
}
