<div class="notes-list">
  @if(modifiedNotes$ | async; as notes){ @for(note of notes; track note.id){
  <div class="note-item" (click)="viewNote(note.id)">
    <h3>{{ note.title }}</h3>
    <img (click)="onCloseIconClick($event, note.id)" class="delete-icon" src="assets/icons/cancel.jpg" alt="delete note"
      width="500" height="300" />
    <p>
      {{ note.content | slice : 0 : 50 }}
      <span *ngIf="note.content.length > 50">...</span>
    </p>

  </div>
  } }
</div>

<app-modal-dialog [visible]="confirmDeleteModalVisible" primaryAction="Delete" secondaryAction="Cancel"
  header="Delete Note" (onActionClicked)="onUserAction($event)">
  Do you want to delete the note?
</app-modal-dialog>