.notes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.note-item {
  background-color: #cccccc;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  margin: 6px;
}
