<div class="notes-list">
  @if(modifiedNotes$ | async; as notes){
  @for(note of notes; track note.id){
  <div class="note-item" (click)="viewNote(note.id)">
    <div>
      <h3>{{ note.title }}</h3>
      <h5>Points: {{ priority.indexOf(note.priority) + 1 }}</h5>
    </div>
    <img (click)="onCloseIconClick($event, note.id)" class="delete-icon" src="assets/icons/cancel.jpg" alt="delete note"
      width="500" height="300" />
    <p>
      {{ note.content | slice : 0 : 50 }}
      <span *ngIf="note.content.length > 50">...</span>
    </p>
  </div>
  }
  }
</div>

<app-modal-dialog [visible]="confirmDeleteModalVisible" primaryAction="Delete" secondaryAction="Cancel"
  header="Delete Note" (onActionClicked)="onUserAction($event)">
  Do you want to delete the note?
</app-modal-dialog>

@if(showFilterByPointsPopUp || showFilterByTagPopUp){
<div class="filter">
  <div class="container">
    <div class="filter-point" *ngIf="showFilterByPointsPopUp">
      <p style="font-weight: bold;">Filter By Priority Points</p>
      @for(point of [0,1,2,3,4]; track point){
      <label class="filter-label" [for]="'label'+point">
        <input (change)="addFilterByPoint($event)" [checked]="selectedFilterByPoint.includes(point)" type="checkbox"
          [id]="'label'+point" [value]="point">{{point+1}}
      </label>
      }
    </div>
    <div class="filter-tag" *ngIf="showFilterByTagPopUp">
      <p style="font-weight: bold;">Filter By Tags</p>
      @for(tag of availableTags; track tag){
      <label class="filter-label" [for]="tag">
        <input (change)="addFilterByTag($event)" [checked]="selectedFilterByTag.includes(tag)" type="checkbox"
          [id]="tag" [value]="tag">{{tag}}
      </label>
      }
    </div>
    <div class="action" style="display: block;">
      <button (click)="removeAllFilter()">Cancel</button>
      <button (click)="applyFilter()" appPrimaryAction>Apply</button>
    </div>
  </div>
</div>
}