.search-container {
  position: relative;
}

.search-box {
  width: 315px;
  margin: 6px;
  background-color: #cccccc;
}

.search-container {
  img {
    position: absolute;
    left: 315px;
    bottom: 14px;
  }
}
