@if(note){
<div>
  <div style="display: flex;">
    <h2>{{ note.title }}</h2>
    <div>
      <button appPrimaryAction (click)="editNote()">Edit</button>
      <button (click)="deleteNote()">Delete</button>
    </div>
  </div>
  <div class="priority-points">
    <h3>Points:</h3>
    <span>
      {{ priority.indexOf(note.priority) + 1 }}
    </span>
  </div>
  <p class="content">{{ note.content }}</p>
</div>
}

<app-modal-dialog [visible]="confirmDeleteModalVisible" primaryAction="Delete" secondaryAction="Cancel"
  header="Delete Note" (onActionClicked)="onUserAction($event)">Do you want to delete the note?</app-modal-dialog>