@if(isVisible){
<div class="modal-background">
  <div class="modal">
    <div class="header">
      <div class="heading">
        <h2>{{ isEdit ? "Update " : "Add " }}Note
        </h2>
      </div>
      <div class="edit-tags">
        <button>
          <img src="assets/icons/add-square.svg" alt="" height="25">
          <span>{{ isEdit ? "Update " : "Add " }} category</span>
        </button>
      </div>
    </div>
    <div>
      <form class="p-form">
        <h3>Priority points</h3>
        <div class="radio-group">
          <label *ngFor="let point of [0, 1, 2, 3, 4]">{{
            point+1 }}
            <input type="radio" name="priority" [(ngModel)]="note.priority" [value]="priority[point]"
              [checked]="priority[point] == note.priority" />
          </label>
        </div>
      </form>
    </div>
    <div class="input">
      <input [(ngModel)]="note.title" placeholder="Title" maxlength="30" />
      <textarea [(ngModel)]="note.content" placeholder="Content"></textarea>
    </div>
    <div class="footer">
      <button appPrimaryAction (click)="isEdit ? updateNote() : saveNote()">
        {{ isEdit ? "Update " : "Save " }}
      </button>
      <button (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
}